*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

ul {
  list-style: none;
}
.bodi-container {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
/* body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #1c2225;
} */
a {
  cursor: pointer;
  text-decoration: none;
}
.img-landing {
  display: block;
  margin: 0 auto;
  /* object-fit: cover;
  overflow: hidden; */
}
.img-main {
  display: block;
  margin: 0 auto;
  /* object-fit: cover;
  text-align: center; */
}
.img-container {
  position: relative;
}

@keyframes scale-up-down {
  0%,
  100% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.1); /* збільшення на 10% */
  }
}
.button-img {
  font-family: 'Montserrat', sans-serif;
  animation: scale-up-down 1s infinite;
  padding: 0;
  border: none;
  left: 50%;
  top: 78%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 250px;
  height: 100px;
  border-radius: 8px;
  background-color: #fe9b0b;
}

.button-3 {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: none;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #fe9b0b;
}

.button-8 {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: none;
  left: 50%;
  top: 77%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #fe9b0b;
}

.button-9 {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: none;
  left: 50%;
  top: 77%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #fe9b0b;
}

.button-final {
  font-family: 'Montserrat', sans-serif;
  animation: scale-up-down 1s infinite;
  padding: 0;
  border: none;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 250px;
  height: 100px;
  border-radius: 8px;
  background-color: #fe9b0b;
}

.button-final-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: none;
  left: 50%;
  top: 83%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 250px;
  height: 40px;
  border-radius: 8px;
  background-color: #fe9b0b;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: none;
  left: 50%;
  top: 77%;
  transform: translateX(-50%);
  font-size: large;
  color: black;
  position: absolute;
  width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #fe9b0b;
}
